.invite-user-container {
    display: flex;
  
}
#app{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 7% 19% 12% 21%;
    height: 70%;
}
.label-display {
    flex: .1;
}

.first-name, .last-name, .place-email-address {
    display: flex;
    justify-content: center;
}

.label-firstname, .label-lastname, .label-email {
    flex:0.2;
}

.label-invite-header{
    font-size: 20px;
}
body{
    background-color: lightgrey;
}

.input-email {
    width: 235% !important;
}
.input-lastName, .input-firstName, .input-email {
    background-color: #f6f6f6;
}
.btn-common {
    background-color: #0080ff !important;
    border-color: #0080ff !important;
    width: 92%;
}

.row {
    height: 14%;
}

.input-container {
    padding-top: 17%;
}